{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="container">
					<nav id="nav-main" class="navbar navbar-toggleable-md navbar-light" role="navigation">
						<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<a class="navbar-brand" href="{{site.url}}" rel="home"><img src="{{site.theme.link}}/assets/images/Logo-DFO.png" /></a>
						 <div class="collapse navbar-collapse" id="navbarNavDropdown">
							<ul class="main-nav navbar-nav">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="http://www.dfobv.nl" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thema's</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										{% include "menu-hoofd.twig" with {'hoofdmenu': hoofdmenu.get_items} %}
									</ul>
								</li>
							</ul>
							{{ function('theme_menu') }}
						</div>
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}		
		{% endblock %}
	</body>
</html>
