{% extends "base.twig" %}

{% block content %}

<!-- home-hero -->
<div class="home-hero">

	<div class="container" id="content" tabindex="-1">
		<div class="row">
			<div class="col-lg-5 col-md-6 home-hero-tekst">
				{{ post.get_field('home_hero_tekst') }}
			</div>
			<div class="col-md-5 offset-lg-1 offset-md-1 col-lg-6">
				<div class="hero-product">
				{% if post.get_field('producten_home')|length > 0 %}
					{% include "shared/products-slide.twig" %}
				{% endif %}
				</div>
				<div class="uitgelicht">
					<h4>Uitgelichte producten</h4>
				</div>
			</div>
		</div>
	</div>
	
</div>
<!-- end home-hero -->

<div class="themes">	

	<div class="container" id="content" tabindex="-1">
		<div class="row">
			<div class="col-md-12">
				<h2>Kies hieronder het thema van uw vakgebied</h2>
				<p>Bureau DFO heeft het aantal vakgebieden onderverdeeld in verschillende thema's. Klik op de thema's voor producten behorende bij uw eigen vakgebied of specialisme.</p>
				<ul>
					<li><a href="{{site.link}}/product-categorie/hypotheken/" class="smaller">
						<i class="fa fa-home" aria-hidden="true"></i> 
						<h3>Hypotheken & Kredieten</h3>
					</a></li>
					<li><a href="{{site.link}}/product-categorie/inkomen/">
						<i class="fa fa-money" aria-hidden="true"></i>
						<h3>Inkomen</h3>
					</a></li>
					<li><a href="{{site.link}}/product-categorie/levenpensioen/">
						<i class="fa fa-coffee" aria-hidden="true"></i> 
						<h3>Leven & Pensioen</h3>
					</a></li>
					<li><a href="{{site.link}}/product-categorie/schade/">
						<i class="fa fa-fire" aria-hidden="true"></i>
						<h3>Schade</h3>
					</a></li>
					<li><a href="{{site.link}}/product-categorie/bedrijfsvoering/">
						<i class="fa fa-briefcase" aria-hidden="true"></i>
						<h3>Bedrijfsvoering</h3>
					</a></li>
					<li><a href="{{site.link}}/product-categorie/personeel/">
						<i class="fa fa-group" aria-hidden="true"></i> 
						<h3>Personeel</h3>
					</a></li>
				</ul>
			</div>
		</div>
	</div>
	
</div>

<div class="links">	

	<div class="container" id="content" tabindex="-1">
		<div class="row">
			<div class="col-md-12">
				<div class="arrow-down"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Aanvullende dienstverlening</h2>
				<ul>
					<li><a href="{{site.link}}/secretariaten">
						<i class="fa fa-book" aria-hidden="true"></i>
						<h3>Secretariaten</h3>
						<p>Bureau DFO beheert het secretariaat van diverse verenigingen</p>
					</a></li>
					<li><a href="{{site.link}}/stemapparatuur">
						<i class="fa fa-microphone" aria-hidden="true"></i> 
						<h3>Stemapparatuur</h3>
						<p>Techniek en expertise om stemsessies voor u in te richten en te begeleiden</p>
					</a></li>
					<li><a href="{{site.link}}/zaalverhuur">
						<i class="fa fa-building" aria-hidden="true"></i> 
						<h3>Zaalverhuur</h3>
						<p>Goede opleidings- en vergaderruimten, gelegen midden in Nederland</p>
					</a></li>
					<li><a href="{{site.link}}/congressen">
						<i class="fa fa-calendar" aria-hidden="true"></i> 
						<h3>Congressen</h3>
						<p>Congressen zijn ideaal om met een doelgroep in contact te treden</p>
					</a></li>
					<li><a href="http://sp.deno.nl/" target="_blank" class="smaller">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
						<h3>Serviceprovider</h3>
						<p>Objectieve informatie over de dienstverlening van een groot aantal serviceproviders</p>
					</a></li>
					<li><a href="http://www.expertisegroepschade.nl/" target="_blank" class="smaller">
						<i class="fa fa-graduation-cap" aria-hidden="true"></i> 
						<h3>Expertisegroep</h3>
						<p>Hét platform voor specialisten in afwikkeling schadeverzekeringen</p>
					</a></li>
				</ul>
			</div>
		</div>
	</div>
	
</div>

<div class="contact_home">
	<div class="container" id="content" tabindex="-1">
	
		<div class="row">
			<div class="col-lg-7">
				<h2>{{ post.get_field('contact_title') }}</h2>
				{{ post.get_field('adres_1') }}
				<iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9788.844012746065!2d5.465621!3d52.166857!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6461e8b92bf4b%3A0xe4d2d369c8aa107c!2sDe+Wel+14%2C+3871+MV+Hoevelaken%2C+Nederland!5e0!3m2!1snl!2sus!4v1496049926582" width="80%" height="325px" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
			</div>
			<div class="col-lg-5">
				{{ function('do_shortcode', '[contact-form-7 id="256" title="Neem contact met ons op"]') }}
			</div>
		</div>
	
	</div><!-- Container end -->
</div>

{% endblock %}