<article {{ fn('post_class', ['$classes', 'entry'] ) }}>

    {{ fn('timber_set_product', post)}}
	
<div id="carousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	{% for post in post.get_field('producten_home') %}
	  <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %} active {% endif %}"></li>
	{% endfor %}
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	{% for post in post.get_field('producten_home') %}
		<div class="carousel-item {% if loop.first %} active {% endif %}">
			<div class="row">
				<div class="thumbnail">
					<img src="{{ post.thumbnail }}" border="0" alt="{{ post.title }}" />
					{{ cat.tag }}
				</div>
				<div class="text">
					<h3>{{ post.title }}</h3>
					<p class="price">&euro;{{ post._price }} excl. BTW<p>
					<a target="{{ post.target }}" href="{{ post.link }}">Bekijk product <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
 
	<a class="carousel-control-prev" href="#carousel" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carousel" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

</article>